<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PTT excel database</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="shortcut icon" href="ptt.ico" />
  </head>
  <body>
    <form method="POST" enctype="multipart/form-data" action="/excel">
      <input type="file" name="excel" />
      <button type="submit">upload</button>
    </form>
    <div class="">
      <a href="/excel">download</a>
    </div>
  </body>
</html>
